/* Header*/
header {
    background: white;
    height: 80px;
    align-items: center;
    border: #a8998b solid;
    border-radius: 10px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 10px;
}
header .logo img {
    width: 700px;
    height: 70px;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 700px;
    height: 70px;
}
header nav ul li {
    margin: 0 20px;
    align-items: center;
}
header nav ul li a {
    color: #a8998b;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    font-size: 1.2em;
}
/* Footer */
footer {
    background: white;
    height: 60px;
    align-items: center;
    border: #a8998b solid;
    border-radius: 10px;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-radius: 10px;
}
footer .logo img {
    width: 200px;
    height: 20px;
}

footer nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 700px;
    height: 70px;
}
footer nav ul li {
    margin: 0 20px;
    align-items: center;
}
footer nav ul li a {
    color: #a8998b;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    font-size: 1.2em;
}
/* Contenedor*/
.flexcontainerc{
    display:flex;
    width: 100%;
    flex-direction:row;
    flex-wrap: wrap; 
    margin-bottom: 40px;
}
/* Titulo*/
.titulo{
    color: #a8998b;
    text-align: center;
    font-size: 1.3em;
    background-color:white;
    height: 100px;
    width: 100%;
}
/* Contenedor de formulario*/
.formulario-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin-left: 100 px;
}
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
textarea {
    resize: vertical;
}
button[type="submit"] {
    background-color:#766a61;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}
button[type="submit"]:hover {
    background-color: #45a049;
}
/* Fotos a los costados*/
.fotoc{
    margin-right: 100px;
}
.fotoc2{
    margin-left: 100px;
}
