header {
    background-color: #c7a28a;
    color: #fff;
    padding: 10px 0;
    font-size: large;
   
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
h1,p,ul,h3{
    color:#766a61}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
ul li a:hover{
    color: black;
}

footer {
    background-color: #c7a28a;
    color: #fff;
    text-align:center;
    width: 100%;
    height: 38px;
    bottom: 0;
    border-radius: 5px;
}

div.titulo{
    color:#c7a28a;
    text-align: center;
    font-size:larger;
    background-color:white;
    height: 60px;
}
.flex-container{
    display:flex;
    width: 100%;
    flex-direction:row;
    flex-wrap: wrap; 
    margin-top: 0;
}
.caja1{
    width: 350px;;
    height: 350px;
    margin: 5px;
}
.caja2{ 
    width: 350px;
    height: 350px;
   margin-left: 50px;
   margin-top: 50px;
}
.caja3{  
    width: 550px;
    height: 400px;
    text-align: center;
    margin-left: 5px;
}
.caja4{  
    width: 558px;
    height: 400px;
    margin: 5px;
}
.caja5{ 
    width: 350px;
    height: 350px;
    margin: 5px;
}
h2{
    font-style: italic;
    color:#d4b29b ;
}


.fotoc{
    margin-right: 100px;
}
.fotoc2{
    margin-left: 0px;
}
.flexcontainerc{
    display:flex;
    width: 100%;
    flex-direction:row;
    flex-wrap: wrap; 
}