/* Header */
header {
    background: white;
    height: 80px;
    align-items: center;
    border: #a8998b solid;
    border-radius: 10px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 10px;
}
header .logo img {
    width: 700px;
    height: 70px;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 700px;
    height: 70px;
}
header nav ul li {
    margin: 0 20px;
    align-items: center;
}
header nav ul li a {
    color: #a8998b;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    font-size: 1.2em;
}
/* Footer */
footer {
    background: white;
    height: 60px;
    align-items: center;
    border: #a8998b solid;
    border-radius: 10px;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-radius: 10px;
}
footer .logo img {
    width: 200px;
    height: 20px;
}

footer nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 700px;
    height: 70px;
}
footer nav ul li {
    margin: 0 20px;
    align-items: center;
}
footer nav ul li a {
    color: #a8998b;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    font-size: 1.2em;
}

.titulo{
    color: #a8998b;
    font-size: 1.3em;
    background-color:white;
    height: 60px;
    width: 100%;
   margin-left: 60px; 
}

.contenedorgeneral{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* Estilos para el contenedor de productos */
.producto {justify-content: space-evenly;
        text-align: center;
        margin: 10px;
        width: 260px;
        height: 320px;
        background-color:white;
        border: solid #aa988a;
        color:#766a61;
        padding: 15px;
        border-radius: 20px;  
}

/* Estilos para el nombre del producto */
.producto-nombre {
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
}
.productostock {
    font-size: 0,5rem;
    margin: 0;
    font-weight: bold;
}
.productodescripcion{
    font-size: 0.5 rem;
font-style: italic;}

.productoprecio{
    font-size: 0.5 rem;
    font-weight: bold;
}
    
/* Estilos para las etiquetas de cantidad */
.producto-label {
    margin-top: 0.5rem;
    display: block;
}

/* Estilos para los inputs de cantidad */
.producto-input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.producto-imagen{
    width: 150px;
    height: 150px;
}
.producto-imagen:hover{
    transform: scale(1.1);
}
/* boton */ 
button {
    background-color:#766a61;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background-color: #45a049;
}
.contenedorfinal{
    align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.total{
    color: #766a61;
    font-size: 1.2em;
    font-weight: bold;
}