header {
    background-color: #c7a28a;
    color: #fff;
    padding: 10px 0;
    font-size: large;
   
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
}


footer {
    background-color: #c7a28a;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 40px;
    bottom: 0;
}

.hidden {
    visibility: hidden;
}

div.titulo{
    color:#c7a28a;
    text-align: center;
    font-size:larger;
    background-color:white;
    height: 60px;
    
}
section h1{
    background-color: #c7a28a;
    width: 30%;
    color: black;
    font-size: 40px;
    border-bottom: 2px solid white;
    padding: 20px 0 10px 0;
    text-align: center;
}
/* div general(Padre) que contiene todos los divs de cada uno de los productos */
.contenedorProductos{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* div de cada producto */
.article{
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;
    width: 260px;
    height: 320px;
    background-color:white;
    border: solid #aa988a;
    color:#766a61;
    padding: 20px;
    border-radius: 20px;
}

img{
    width: 150px;
    height: 150px;
}
img:hover{
    transform: scale(1.1);
}
p{
    font-family: poppins;
}

input{
    color: #000;
    font-weight: 400;
    font-family: poppins;
    margin-top: 10px;
    width: 60%;
    height: 10%;
    border: 2px solid #846e5e;
    border-radius: 2px;
    background-color:white;
}
input:hover{
    background-color:#dfd1c8;
}
button{
    margin: 20px 10px 0px 10px;
    background-color: white;
    color: #846e5e;
    font-family: poppins;
    border: 2px  solid #5f4f43;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    width: 30%;
}
button:hover{
    background-color: #dfd1c8;
}

.carrito{
    width: 100px;
    height: 100px;

}